.data-load{
    margin: 5px;
    /* border: 2px solid saddlebrown; */
    background-color: antiquewhite;
    border-radius: 5px;
}
.data-load img{
    width: 300px;
    height: 250px;
    margin: 5px;
    border-radius: 10px;
}
.for-time{
    margin-left:20px;
}
.for-age{
    margin-left:20px;
}
.for-time{
    margin-left:20px;
}
.add-btn{
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    border: none;
    border-radius: 3px;
    color: white;
}
.add-btn:hover{
    background-color: hotpink;
    color: royalblue;
    
}
/* .add-btn p{
    color: white;
} */